<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/ej/web/bootstrap-theme/ej.web.all.min.css")*@
    @Styles.Render("~/Content/ej/web/bootstrap-theme/ej.web.all.min.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Arbol", "Explorador", "Explorer", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Usuarios", "Usuarios", "Usuarios")</li>
                    <li>@Html.ActionLink("Lista Documentos", "AreaDoc", "Documento")</li>
                    <li>@Html.ActionLink("Area de Usuarios", "Area", "Area")</li>
                    <li>@Html.ActionLink("Tipo de Documento", "TipoDocumento", "TipoDocumento")</li>
                    <li>@Html.ActionLink("Doc Nivel 1", "AreaDoc", "Nivel1")</li>
                    <li>@Html.ActionLink("Doc Nivel 2", "AreaDoc", "Nivel2")</li>
                    <li>@Html.ActionLink("Doc Nivel 3", "AreaDoc", "Nivel3")</li>
                    <li>@Html.ActionLink("Doc Nivel 4", "AreaDoc", "Nivel4")</li>
                    <li>@Html.ActionLink("Doc Nivel 5", "AreaDoc", "Nivel5")</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GESTAD</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jsrender.min.js")
    @Scripts.Render("~/Scripts/ej/web/ej.web.all.min.js")
    @*@RenderSection("scripts", required: false)*@
    @RenderSection("scripts", required: false)
    @Html.EJ().ScriptManager()
</body>
</html>
