@model PagedList.IPagedList<Core.Dominio.Documento>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Documento";
}

<h2>Documentos Rechazados</h2>

@Html.ActionLink("Documentos Aceptados",
                                            "DocumentoA",
                                            "Documento",
                                            null, new { @class = "btn btn-primary" }
                                            )

@Html.ActionLink("Documentos Pendientes",
                                            "Documento",
                                            "Documento",
                                            null, new { @class = "btn btn-primary" }
                                            )

<br /> <br />

<table class="table">
    <thead>
        <tr>
            <th style="color:#ffffff; background:#00003c">#</th>
            <th style="color:#ffffff; background:#00003c">Area</th>
            <th style="color:#ffffff; background:#00003c">Fecha de Subida</th>
            <th style="color:#ffffff; background:#00003c">Usuario</th>
            <th style="color:#ffffff; background:#00003c">Aciones</th>
        </tr>
        @foreach (var Area in Model)
        {
            <tr>
                <th scope="row">@Area.idDocumento</th>
                <td>@Area.nombreDocumento</td>
                <td>@Area.fechaSubidaDocumento</td>
                <td>@Area.usuario.nombreUsuario</td>
                <td>
                    @Html.ActionLink("Aceptar",
                                  "AceptarDocumento",
                                  "Documento",
                                  new { idDocumento = @Area.idDocumento }, new { @class = "btn btn-primary" }
                                  )

                    @Html.ActionLink("Rechazar",
                                  "RechazarDocumento",
                                  "Documento",
                                  new { idDocumento = @Area.idDocumento }, new { @class = "btn btn-danger" }
                                  )
                </td>
            </tr>
        }
    </thead>
    <tbody></tbody>
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pagina => Url.Action("Documento", new
{ pagina }))
