@model Core.Dominio.Nivel3

@{
    ViewBag.Title = "CrearAreaD";
}

<h2>Crear nueva area</h2>

@using (Html.BeginForm("ActionCrearAreaD", "Nivel3", FormMethod.Post))
{

    <div class="form-group">
        @Html.Label("Area del Tipo:")
        @Html.DropDownListFor(model => model.nivel2, new SelectList(ViewBag.Areas, "idN", "nombreN"), new { @class = "form-control" })
        <small id="emailHelp" class="form-text text-muted">@Html.ValidationMessageFor(model => model.nivel2)</small>
    </div>

    <div class="form-group">
        @Html.Label("Nombre:")
        @Html.EditorFor(model => model.nombreN, new { htmlAttributes = new { @class = "form-control" } })
        <small id="emailHelp" class="form-text text-muted">@Html.ValidationMessageFor(model => model.nombreN)</small>
    </div>

    <div class="form-group">
        @Html.Label("Descripcion:")
        @Html.EditorFor(model => model.descripcionN, new { htmlAttributes = new { @class = "form-control" } })
        <small id="emailHelp" class="form-text text-muted">@Html.ValidationMessageFor(model => model.descripcionN)</small>
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        @Html.ActionLink("Cancelar", "AreaDoc", "Nivel3", null,
                                     new { @class = "btn btn-danger btn-large" })
    </div>
}

